<main>
  <section id="showcase">
    <div class="container">
      <h1>{{title}}</h1>
      <p>{{par}}</p>
    </div>
    {{#if pic}}
        <h3><img src="https://image.freepik.com/free-vector/mysterious-mafia-man-smoking-cigarette_52683-34828.jpg" alt=""></h3>

    {{/if}}
    {{#if coord}}
    <h3>{{coord}}</h3>
    {{/if}}
  </section>

    <section id="newsletter">
      
    <div class="container">
      <h1>{{text}}</h1>
{{#if weather}}
      <form action="/" method="get">
        <input type="text" placeholder="Enter city" name="city" required>
        <button type="submit" class="button_1">search</button>
      </form>
{{/if}}
    </div>
  </section>
</main>